<h1> Expense Tracker </h1>

<div class="signup-form-div">

    <h3> Signup </h3>
    <label for="name-input"> Name </label>
    <input type="text" id="name-input" #nameInput value >
    
    <label for="email-input"> Email </label>
    <input type="email" id="email-input" #emailInput >

    <label for="password-input"> Password </label>
    <input type="password" id="password-input" #passwordInput >

    <a routerLink="/login"> Already have an account? Click here to Login </a>

    <button type="button" (click)="signup({ 
        username: nameInput.value, 
        email: emailInput.value, 
        password: passwordInput.value })"> 
            Sign Up 
    </button>
</div>

<div class="popup-outer-div" *ngIf="displayPopup">
    <div class="popup-inner-div">
        <button (click)="closePopup()"> X </button>
        <h3> {{ popupHeading }} </h3>
        <p> {{ popupText }} </p>
    </div>
</div>
